In [2]:
print("Hello Class")

Hello Class

# Datatypes

In [3]:
v1 = 5
v2 = 5.3
v3 = -45.787979
v4 = "101"
v5 = "Python"
v6 = "python"
v7 = ['one','two','three','four']
v8 = [1,2,3,4,5]
v9 = (1,2,3,4)
v10 = {'one':1,'two':2,'three':3}
v11 = "true"
v12 = 5 + 4j
v13 = 10>9
v14 = 123==134

In [4]:
print(type(v1))
print(type(v2))
print(type(v3))
print(type(v4))
print(type(v5))
print(type(v6))
print(type(v7))
print(type(v8))
print(type(v9))
print(type(v10))
print(type(v11))
print(type(v12))
print(type(v13))
print(type(v14))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'bool'>

# lists

In [7]:
info = ["Akash","Datascience","BITSpilani","Rajkot","badminton"]
print(info)
print(len(info))
print(type(info))

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']
5
<class 'list'>

In [9]:
print(info)
#print(info[])
print(info[1])
print(info[2])
print(info[1:])
print(info[:1])
print(info[:-1])
print(info[:-2])

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']
Datascience
BITSpilani
['Datascience', 'BITSpilani', 'Rajkot', 'badminton']
['Akash']
['Akash', 'Datascience', 'BITSpilani', 'Rajkot']
['Akash', 'Datascience', 'BITSpilani']

In [13]:
name =print(info[0])
print(name)
print(type(name))

Akash
None
<class 'NoneType'>

In [38]:
info = ["Akash","Datascience","BITSpilani","Rajkot","badminton"]
print(info.count("BITSpilani"))
print(info.index("BITSpilani"))
print(info.insert(3,"Mountains"))
print(info)
print(info.pop())
print(info)
print(info.remove("BITSpilani"))
print(info.reverse())
print(info)
print(info.sort())
print(info)
print(info.clear())
print(info)

1
2
None
['Akash', 'Datascience', 'BITSpilani', 'Mountains', 'Rajkot', 'badminton']
badminton
['Akash', 'Datascience', 'BITSpilani', 'Mountains', 'Rajkot']
None
None
['Rajkot', 'Mountains', 'Datascience', 'Akash']
None
['Akash', 'Datascience', 'Mountains', 'Rajkot']
None
[]

In [39]:
#delete specific object
info = ["Akash","Datascience","BITSpilani","Rajkot","badminton"]
print(info)
del info[0]
print(info)

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']
['Datascience', 'BITSpilani', 'Rajkot', 'badminton']

In [40]:
info = ["Akash","Datascience","BITSpilani","Rajkot","badminton"]
print(info)
del info
print(info)

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']

NameError: name 'info' is not defined

In [25]:
info = ["Akash","Datascience","BITSpilani","Rajkot","badminton"]
myinfo = info
print(myinfo)

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']

In [26]:
myinfo1 = info.copy()
print(myinfo1)

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']

In [27]:
join = info + myinfo
print(join)

['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton', 'Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton']

In [28]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

for x in list2:
    list1.append(x)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
list3 = ["a","b","c"]
#list4 = [1,2,3]
list4 = ["d","e","f"]

for x in list4:
    list3.extend(x)

print(list3)

#extend dont work on int

['a', 'b', 'c', 'd', 'e', 'f']

# tuple

In [41]:
tup1 = ("Akash","Datascience","BITSpilani","Rajkot","badminton")
print(tup1)

('Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton')

In [42]:
print(tup1[1])
print(tup1[1:4])
print(tup1[1:])
print(tup1[:1])
print(tup1[:-2])

Datascience
('Datascience', 'BITSpilani', 'Rajkot')
('Datascience', 'BITSpilani', 'Rajkot', 'badminton')
('Akash',)
('Akash', 'Datascience', 'BITSpilani')

In [47]:
print(tup1.count("BITSpilani"))
print(tup1.index("BITSpilani"))

1
2

In [48]:
tup1[-1] = "cricket"

TypeError: 'tuple' object does not support item assignment

In [50]:
templist1 =list(tup1)
templist1[-1] = "cricket"
tup2 = tuple(templist1)
print(tup2)

('Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'cricket')

In [51]:
tup3 = tup1 + tup2
print(tup3)

('Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton', 'Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'cricket')

In [56]:
tup4 = tuple(("Akash","Datascience","BITSpilani","Rajkot","badminton"))
print(tup4)
tup4.clear()
print(tup4)
del tup4
print(tup4)

('Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'badminton')

AttributeError: 'tuple' object has no attribute 'clear'

# sets

In [58]:
set1 ={"Akash","Datascience","BITSpilani","Rajkot","badminton"}
print(set1)
print(type(set1))
len(set1)

{'BITSpilani', 'Rajkot', 'Datascience', 'badminton', 'Akash'}
<class 'set'>

5

In [59]:
set1(1)

TypeError: 'set' object is not callable

In [60]:
for x in set1:
    print(x)

BITSpilani
Rajkot
Datascience
badminton
Akash

In [61]:
print("Akash" in set1)
print("akash" in set1)
print("Aakash" in set1)

True
False
False

In [68]:
set1 ={"Akash","Datascience","BITSpilani","Rajkot","badminton"}
print(set1)
print(set1.add("Mountain"))
print(set1)
print(set1.remove("Akash"))
print(set1)

{'BITSpilani', 'Rajkot', 'Datascience', 'badminton', 'Akash'}
None
{'BITSpilani', 'Rajkot', 'Datascience', 'badminton', 'Akash', 'Mountain'}
None
{'BITSpilani', 'Rajkot', 'Datascience', 'badminton', 'Mountain'}

In [69]:
set2 = {"python","is"}
set3 = {"easy","language"}
set6 = {"let's","start","learning"}

#set4 = set2 + set3
set4 = set2.union(set3).union(set6)
print(set4)

{'start', 'learning', 'language', 'easy', 'python', "let's", 'is'}

In [70]:
set6 = {"let's","start","learning"}
set7 = {"today"}

set6.update(set7)
print(set6)

{"let's", 'start', 'learning', 'today'}

# Dictonary

In [79]:
#d1= {"Name":Akash,"Domain":Datascience,"Alumni": BITSpilani,"Location":Rajkot,"sport":bedminton}
d1= {"Name":"Akash","Domain":"Datascience","Alumni": "BITSpilani","Location":"Rajkot","sport":"bedminton"}
print(d1)

{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}

In [78]:
name = d1.get("Name")
domain = d1.get("Domain")
alumni = d1.get("Alumni")
location = d1.get("Location")
print(name)
print(domain)
print(alumni)
print(location)

Akash
Datascience
BITSpilani
Rajkot

In [73]:
d1["sport"]= "cricket"
print(d1)
print(d1["sport"])

{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'cricket'}
cricket

In [74]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['Name', 'Domain', 'Alumni', 'Location', 'sport'])
dict_values(['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'cricket'])
dict_items([('Name', 'Akash'), ('Domain', 'Datascience'), ('Alumni', 'BITSpilani'), ('Location', 'Rajkot'), ('sport', 'cricket')])

In [75]:
if Name in d1:
    print("yes")
else:
    print("no")

NameError: name 'Name' is not defined

In [83]:
if "Name" in d1.keys():
    print("yes")
else:
    print("no")

yes

In [84]:
if "Name" in d1:
    print("yes")
else:
    print("no")

yes

In [85]:
if "Akash" in d1.values():
    print("yes")
else:
    print("no")

yes

In [86]:
if "cricket" in d1.values():
    print("yes")
else:
    print("no")

no

In [87]:
print(len(d1))

5

In [88]:
d1["language"] = "Gujarati"
print(d1)
print(d1.keys())
print(d1.values())

{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton', 'language': 'Gujarati'}
dict_keys(['Name', 'Domain', 'Alumni', 'Location', 'sport', 'language'])
dict_values(['Akash', 'Datascience', 'BITSpilani', 'Rajkot', 'bedminton', 'Gujarati'])

In [89]:
print(d1)
d1.popitem()
print(d1)

{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton', 'language': 'Gujarati'}
{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}

In [90]:
print(d1)
del d1["Name"]
print(d1)

{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}
{'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}

In [91]:
print(d1)
d1.clear()
print(d1)

{'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}
{}

In [93]:
d1= {"Name":"Akash","Domain":"Datascience","Alumni": "BITSpilani","Location":"Rajkot","sport":"bedminton"}
print(d1)
d2 =d1.copy()
print(d2)

{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}
{'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}

In [94]:
d1 == d2

True

In [96]:
d4 = {"childhood_friend":
      {"Name":"Raj",  "sport" : "bedminton","music" : "EDM"},
      
      "school_friend":
      {"Name":"Vivek","sport" : "cricket",  "music" : "mashups"},
      
      "college_friend":
      {"Name":"Jay","sport" : "Bowling",  "music" : "old-retro"}}

In [98]:
print(d4.keys())
print(d4.values())
print(d4.items())

dict_keys(['childhood_friend', 'school_friend', 'college_friend'])
dict_values([{'Name': 'Raj', 'sport': 'bedminton', 'music': 'EDM'}, {'Name': 'Vivek', 'sport': 'cricket', 'music': 'mashups'}, {'Name': 'Jay', 'sport': 'Bowling', 'music': 'old-retro'}])
dict_items([('childhood_friend', {'Name': 'Raj', 'sport': 'bedminton', 'music': 'EDM'}), ('school_friend', {'Name': 'Vivek', 'sport': 'cricket', 'music': 'mashups'}), ('college_friend', {'Name': 'Jay', 'sport': 'Bowling', 'music': 'old-retro'})])

In [99]:
print(d4["childhood_friend"])
print(d4["childhood_friend"]["Name"])
print(d4["college_friend"]["sport"])

{'Name': 'Raj', 'sport': 'bedminton', 'music': 'EDM'}
Raj
Bowling

In [100]:
d5 = { "Me":d1,"Raj":d4["childhood_friend"],"Vivek":d4["school_friend"],"Jay":d4["college_friend"]}
print(d5)

{'Me': {'Name': 'Akash', 'Domain': 'Datascience', 'Alumni': 'BITSpilani', 'Location': 'Rajkot', 'sport': 'bedminton'}, 'Raj': {'Name': 'Raj', 'sport': 'bedminton', 'music': 'EDM'}, 'Vivek': {'Name': 'Vivek', 'sport': 'cricket', 'music': 'mashups'}, 'Jay': {'Name': 'Jay', 'sport': 'Bowling', 'music': 'old-retro'}}