In [1]:
def func1():
      print("Hello from a first function")

In [2]:
func1

In [3]:
func1()

Hello from a first function

In [4]:
def added(a,b):
    print(a + b)

In [5]:
added(5,3)

8

In [8]:
def greeting(name):
    print("Hello", name)

In [10]:
greeting("Akash")

Hello Akash

In [11]:
def splitter(name):
    for i in name:
        print(i)

In [12]:
splitter("Akash")

A
k
a
s
h

In [27]:
def multiple(*numbers):
    print(numbers)

In [28]:
multi_added(5,6,7)

(5, 6, 7)

# args & kwargs

In [6]:
def mylist(*argv):
    for i in argv:
        print(i)

In [7]:
mylist(1,2,3)

1
2
3

In [12]:
def mydictonary(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))

In [13]:
mydictonary(Name = "Akash" , Course = "Datascience" , college = "BITS")

Name == Akash
Course == Datascience
college == BITS

# what is the diff between *args & **kwargs

In [14]:
def argument(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)

In [15]:
argument('geeks', 'for', 'geeks', first="1", mid="2", last="3")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': '1', 'mid': '2', 'last': '3'}

In [17]:
def default(country = "india"):
      print("I am from " + country)

In [18]:
default()

I am from india

In [42]:
default("UAE")

I am from UAE

# Return value

In [43]:
def return_square(x):
      return x * x

In [44]:
return_square(4)

16

In [50]:
def return_specific(x):
    a = x
    b = x * x 
    c = x * x * x
    d = a + b + c 
    return d,a

In [51]:
return_specific(5)

(155, 5)

In [53]:
def blankfunction():
      pass

In [54]:
blankfunction()

# Recurssive function

In [10]:
def fact(x):
    x = int(x)
    
    if x < 1:
        return 1
    else:
        return x * fact(x-1)

In [11]:
fact(5)

120

# Lamda Functions

In [15]:
x = lambda a : a + 10
print(x(5))

15

In [21]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [32]:
x = lambda a : a.lower()
print(x("AKASH"))

akash

In [34]:
def lowerfunc(a):
    return a.lower()

In [35]:
lowerfunc("Akash")

'akash'