In [3]:
import polars as pl
import numpy as np
import pandas as pd

In [11]:
data = {
    'name': [f'Employee {i}' for i in range(1, 51)],
    'empid': [i for i in range(50)],
    'salary': [i for i in np.random.normal(loc=50000, scale=5000, size=50)]
}
df = pl.DataFrame(data)
df

shape: (50, 3)
┌─────────────┬───────┬──────────────┐
│ name        ┆ empid ┆ salary       │
│ ---         ┆ ---   ┆ ---          │
│ str         ┆ i64   ┆ f64          │
╞═════════════╪═══════╪══════════════╡
│ Employee 1  ┆ 0     ┆ 49491.727161 │
│ Employee 2  ┆ 1     ┆ 44606.837093 │
│ Employee 3  ┆ 2     ┆ 44706.54058  │
│ Employee 4  ┆ 3     ┆ 48368.500771 │
│ Employee 5  ┆ 4     ┆ 52777.66007  │
│ …           ┆ …     ┆ …            │
│ Employee 46 ┆ 45    ┆ 45163.648332 │
│ Employee 47 ┆ 46    ┆ 58115.465991 │
│ Employee 48 ┆ 47    ┆ 53177.161251 │
│ Employee 49 ┆ 48    ┆ 55920.620769 │
│ Employee 50 ┆ 49    ┆ 53459.625751 │
└─────────────┴───────┴──────────────┘