In [ ]:
import pandas as pd

In [ ]:
#pwd

In [ ]:
#cd D:\New CD

In [ ]:
#pwd

In [ ]:
sales=pd.read_excel("100_Sales_Records.xlsx")
sales.head()

In [ ]:
#Names of all columns in dataset
sales.columns

In [ ]:
#First 5 records of data
sales.head()

In [ ]:
#Last 5 records of data
sales.tail()

In [ ]:
#First 3 records of data
sales.head(3)

In [ ]:
#Last 3 records of data
sales.tail(3)

# Slicing & Dicing

In [ ]:
#select a single column(Selecting data using Labels (Column Headings))
sales['Region'].head()

In [ ]:
#Method 2: use the column name as an 'attribute'; gives the same output
sales.Region.head()

In [ ]:
#pass a list of column(select multiple columns)
sales[['Region','Total_Profit']].head()

In [ ]:
#what if you flip the order
sales[['Total_Profit','Region']].head()

In [ ]:
#create an object that only contain Region column
Region_data=sales['Region']
Region_data.head()

In [ ]:
#Creating a new column-new
sales['region_country']=sales['Region']+sales['Country']
sales.head()

In [ ]:
#Slicing Subsets of Rows in Python
#select first 3 rows
sales[0:3]

In [ ]:
#select first 5 rows
sales[:5]

In [ ]:
# Select the last row in the dataset
sales[-1:]

# LOC

In [ ]:
# Select all columns for rows of index values 0 and 10
sales.loc[[0, 10], :]

In [ ]:
# Select all columns for rows of index values 0 and 10
sales.loc[0:10, :]

In [ ]:
# Select all columns for rows of index values 0 and 10
sales.loc[0:10,:]

In [ ]:
sales.loc[0:10,"Region":"Order_Priority"]

In [ ]:
sales.loc[0, ['Region', 'Country', 'Item_Type']]

In [ ]:
sales.loc[0:5, ['Region', 'Country', 'Item_Type']]

In [ ]:
sales.loc[[0, 10, 25],:]

In [ ]:
sales.loc[[0,4],:]

# ILOC

In [ ]:
# Syntax for iloc indexing to finding a specific data element
#sales.iloc[row, column]

In [ ]:
#value in 2nd row and 6th column
sales.iloc[2,6]

In [ ]:
#Slicing Subsets of Rows and Columns in Python
# To select a subset of rows and columns from our DataFrame, 
# we can use the iloc method. For example, we can select month, day and year 
#(columns 2, 3 and 4 if we start counting at 1), like this:
#iloc[row slicing,column slicing]

In [ ]:
sales.iloc[0:10,0:5]

In [ ]:
sales.iloc[2:6,6:9]

# Subsetting & Filter

In [ ]:
#Subsetting Data using Criteria
sales
sales[sales.Sales_Channel == "Offline"]

In [ ]:
sales
sales[sales.Sales_Channel != "Offline"]

In [ ]:
# baby food, cereal, unit cost> 100
sales[(sales.Total_Profit >= 150000) & (sales.Total_Revenue >= 50000)].head()

# Descriptive Statistics

In [ ]:
sales.mean()

In [ ]:
sales.max()

In [ ]:
sales.min()

In [ ]:
sales.median()

In [ ]:
sales.std()

In [ ]:
sales.var()

In [ ]:
sales.describe()

In [ ]:
sales.info()

In [ ]:
#check datatype
sales.dtypes['Region']

In [ ]:
sales.dtypes['Total_Profit']

In [ ]:
sales.count()

In [ ]:
# skew() function return unbiased skew over requested axis
sales.skew()

In [ ]:
#kurt() function return unbiased kurtosis over requested axis
sales.kurt()

In [ ]:
#Compute pairwise correlation of columns, excluding NA/null values. 
sales.corr()

In [ ]:
#Covariance is a measure of how much two random variables vary together.
#The cov() function is used to compute pairwise covariance of columns, excluding NA/null values. 

sales.cov()

# Apply function

In [ ]:
sales.apply(max)

In [ ]:
sales.apply(min)

In [ ]:
sales

# DROP ENTERIES/VALUES

## Drop Columns

In [ ]:
#To remove column Region
Newdata=sales.drop(['Region'], axis=1)
Newdata.head()

In [ ]:
#To make permanent change in the dataset

sales.drop(['Item_Type'], axis=1,inplace=True)
sales.head()

In [ ]:
# Remove more than one column
sales.drop(['Region','Total_Profit'],axis=1).head()

In [ ]:
# Remove more than one column
sales.drop(['Region','Unit_Cost','Total_Profit'],axis=1).head()

In [ ]:
# Remove Multiple Columns in Python by indenxing
sales.drop(sales.columns[[0,2]], axis =1).head()

In [ ]:
#Remove column count 3(Ship_Date)
sales.drop(sales.columns[3], axis =1).head()

## Drop Rows

In [ ]:
# Drop an observation (row)
sales.drop([1,2])

## Drop Columns from a Dataframe using loc[] and drop() method

In [ ]:
# Remove all columns between column name 'Country' to 'Total_Profit'
sales.drop(sales.loc[:, 'Country':'Total_Profit'].columns, axis = 1).head()

## Drop Duplicates

In [ ]:
data = {"StudentName": ["Reena", "Anil", "Mansi", "Jaman","Reena"],
        "Age": [24, 28, 26, 24,24],
        "Sex": ["Female", "Male", "Female", "Male","Female"]}
df = pd.DataFrame(data)
print(df)

## Drop Duplicate Rows
#drop_duplicates returns only the dataframe’s unique values. Removing duplicate records is sample.

In [ ]:
df = df.drop_duplicates()
print(df)

## Sorting Asceding and Desceding

In [ ]:
#Sort Ascending(by defalut)
new_data = df.sort_values('Age')
new_data

In [ ]:
# Sort Descending
new_data = df.sort_values('Age', ascending=False)
new_data

In [ ]:
new_data = df.sort_values('StudentName', ascending=False)
new_data

## Concatenate

In [ ]:
# Creating first dataframe 
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']}, 
                    index = [0, 1, 2, 3]) 
df1

In [ ]:
# Creating second dataframe 
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'], 
                    'C': ['C4', 'C5', 'C6', 'C7'], 
                    'D': ['D4', 'D5', 'D6', 'D7']}, 
                    index = [4, 5, 6, 7])
df2

In [ ]:
# Creating third dataframe 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'], 
                    'B': ['B8', 'B9', 'B10', 'B11'], 
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']}, 
                    index = [8, 9, 10, 11])
df3

In [ ]:
# Concatenating the dataframes 
pd.concat([df1, df2, df3])

# Group By

groupby() function is used to split the data into groups based on some criteria

In [ ]:
sales.columns

In [ ]:
sales.groupby(['Sales_Channel']).mean()

In [ ]:
sales.groupby(['Order_Priority']).sum().head()

In [ ]:
sales.groupby(['Region','Sales_Channel','Order_Priority']).count()['Unit_Cost'].head()

# PIVOT Tables

In [ ]:
pd.pivot_table(sales, index = ['Sales_Channel', 'Order_Priority'], aggfunc='sum')

# Crosstab in Pandas

#crosstab() function in Python. This method is used to compute a simple cross-tabulation of two (or more) factors

In [ ]:
pd.crosstab(sales['Sales_Channel'],sales.Unit_Cost)

# Merge & Joins

In [ ]:
user_usage = pd.read_csv("user_usage.csv")
user_device = pd.read_csv("user_device.csv")

In [ ]:
user_usage.head()

In [ ]:
user_device.head()

# Inner Merge-bydefault

In [ ]:
result = pd.merge(user_usage,user_device,on='use_id',how='inner')
result.head()

# Select specific columns in joined

In [ ]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id')
result.head()

# Left Merge

In [ ]:
left_merge = pd.merge(user_usage,user_device,on='use_id',how='left')
left_merge.head()

# Right Merge

In [ ]:
right_merge = pd.merge(user_usage,user_device,on='use_id',how='right')
right_merge.head()

# Outer Merge

In [ ]:
outer_merge = pd.merge(user_usage,user_device,on='use_id',how='outer')
outer_merge.head()